.container {
    margin-bottom: 1.5em;
    width: 100%;

    @media (--md-min) {
        width: 33.33%;
    }
}

.image {
    border: 1px solid var(--gray-light);
    border-radius: 8px;

    transition: box-shadow 300ms ease;

    &:hover {
        box-shadow: 0 3px 8px 0 color(black alpha(20%)), 0 0 0 1px color(black alpha(8%));
    }
}

.featured {
    border: 1px solid color(var(--theme) alpha(55%));
    box-shadow: 0 2px 8px 0 color(var(--theme) alpha(40%)), 0 0 0 1px color(var(--theme) alpha(16%));

    &:hover {
        box-shadow: 0 3px 8px 0 color(var(--theme) alpha(80%)), 0 0 0 1px color(var(--theme) alpha(32%));
    }
}

.container .logo {
    font-size: 2em;
}

.audio {
    position: absolute;
    top: 0;
    right: 0.3em;
    color: var(--black);
}
