{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "> 2%",
                        "not last 2 ucandroid versions",
                        "not last 2 operamini versions"
                    ]
                }
            }
        ],
        "react",
        "react-hmre",
        "stage-0"
    ],
    "plugins": ["transform-decorators-legacy"]
}
