{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "> 1%",
                        "not ucandroid 1",
                        "not operamini 1"
                    ]
                }
            }
        ],
        "react",
        "react-hmre",
        "stage-0"
    ],
    "plugins": ["transform-decorators-legacy"]
}
