.field {
    background-color: var(--gray-lighter);
    width: 100%;
    border-radius: 3px;
    padding: 0.6em 0.9em;
    margin-bottom: 1.75em;
    box-shadow: none;
}

.textarea {
    height: 9em;
}

.title {
    cursor: text;
    color: var(--gray-dark);
    font-size: var(--fs-7);
    font-weight: var(--bold);
    position: absolute;
    top: 0;
    filter: opacity(0%);

    transition: filter 500ms, transform 500ms;
}

.disabled {
    filter: opacity(50%);
}

.field:focus + .title {
    color: var(--theme);
}

// display title above when placeholder not shown
.field:not(:placeholder-shown) + .title {
    filter: opacity(100%);
    transform: translateY(-100%);
}
