.header {
    font-size: 2rem;
    padding: 0.5em 15px;

    & {
        .title-container {
            overflow: hidden;
        }

        .title-wrapper {
            max-width: 550px;
        }

        .logo {
            size: 6rem;
            z-index: 1; // icon in front of text
            transition: transform 500ms ease;
        }

        .title {
            display: inline-flex;
            align-items: center;
            white-space: nowrap;
            transform: translateX(calc(50% - 3rem));
            transition: transform 500ms ease;
        }

        .title-text-wrapper {
            overflow-x: hidden;
            padding-left: 1.5rem;
        }

        .title-text {
            transform: translateX(-108%);
            opacity: 0;
            transition: transform 500ms ease, opacity 500ms ease;
        }

        @media (--sm-min) {
            .title-wrapper .title:hover {
                transform: none;

                .title-text {
                    transform: none;
                    opacity: 1;
                }

                .logo {
                    transform: rotate(-100deg);
                }
            }
        }
    }
}
