.header {
    font-size: 2rem;
    padding: 0.5em 15px;

    & {
        .title-container {
            overflow: hidden;
        }

        .link {
            max-width: 550px;
            overflow: hidden;
        }

        .logo {
            size: 6rem;
            z-index: 1; // icon in front of text
            transform: translateY(em(2.5px));
        }

        .title {
            display: inline-flex;
            align-items: center;
            white-space: nowrap;
            transform: translateX(calc(50% - 3rem));
            transition: transform 500ms ease;
        }

        .title-text-wrapper {
            overflow-x: hidden;
            margin-left: em(-11px);
        }

        .title-text {
            text-transform: uppercase;
            font-size: em(32px);
            font-family: var(--ff-logo);
            font-weight: var(--bold);
            transform: translateX(-108%);
            opacity: 0;
            transition: transform 500ms ease, opacity 500ms ease;
        }

        @media (--sm-min) {
            .link:hover {
                .title {
                    transform: none;
                }

                .title-text {
                    transform: none;
                    opacity: 1;
                }
            }
        }
    }
}
