// ==================================================================
// DEFAULT FONT COLOR
// ==================================================================//

html {
    color: var(--gray-darker);
}

.h1, .h2, .h3, .h4, .h5, .h6,
nav {
    color: var(--black);
}

input, select, textarea {
    color: var(--black);
}
