// ==================================================================
// FONT-FAMILY
// ==================================================================//

body {
    font-family: var(--ff-secondary); // fallback
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--ff-primary);
    font-weight: var(--bolder);
    text-align: center;
}

nav {
    font-family: var(--ff-primary);
}

p,
blockquote,
li {
    font-family: var(--ff-secondary);
}

.button {
    font: var(--bold) 1rem var(--ff-primary);
}

input,
textarea,
select {
    font-family: var(--ff-secondary);
}
