// ==================================================================
// CONTAINER
// ==================================================================//

// add `page-xl` class for extra-wide container

// container
.container > article {
    position: relative;
    padding: * 15px;
    max-width: 100%;

    // use .fluid on pages for full-width
    &:not(.fluid) {
        @media (--sm-min) {
            margin: * auto;
            width: 540px;
        }
        @media (--md-min) {
            width: 720px;
        }
        @media (--lg-min) {
            width: 960px;
        }
        &.page-xl {
            @media (--xl-min) {
                width: 1140px;
            }
        }
    }
}
