// ==================================================================
// LAYOUT
// ==================================================================//

// position
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }

// display
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }

// size
.full-width {
    width: 100%;
}

// centering
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-abs {
    left: 50%;
    transform: translateX(-50%);
}

// visibility
.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.invisible { visibility: hidden; }

// overflow
.overflow-hidden { overflow: hidden; }
