// ==================================================================
// COLORS
// ==================================================================//

:root {
    // Custom Colors
    --purple-light: #A840A8;
    --purple: #8B008B;
    --purple-dark: #61006A;

    --gray-lightest:#F2F2F2;
    --gray-lighter: #E6E6E6;
    --gray-light: #CACACA;
    --gray: #969696;
    --gray-dark: #757575;
    --gray-darker: #575757;
    --gray-darkest: #414141;

    --black: #282828;

    --error: #CC2532;
}
