// ==================================================================
// VARIABLES
// ==================================================================//

// ==================================================================
// INCLUDES:
//
// * z-index
//
// ==================================================================//

:root {
    // z-index
    --z-popup: 500;
    --z-dropdown: 400;
    --z-nav: 300;
    --z-pseudo: 200;
    --z-default: 1;
    --z-hidden: -999;

    // input
    --input-height: 2.25em;
}
