// ==================================================================
// BASE ELEMENT RULES
// ==================================================================

// html
// add scrollbar to all pages to prevent resizing
html {
    overflow-y: scroll;
}

// sticky footer
html, body, #root, .body {
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.page {
    @extend .container;

    margin-bottom: 6em;
}

// text spacing
p {
    margin-bottom: 1em;
}

// accenting
::selection { color: white color(var(--theme-light) alpha(67%)); }

// link
.external-link::after {
    font-awesome: external-link;
    font-size: 0.75em;
    vertical-align: text-top;
    padding-left: 0.25em;
}
