.footer {
    position: relative;
    border-bottom: 0.33em solid var(--purple-darker);
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    position: absolute;
    right: 0;
    bottom: 0;
}
