.footer {
    background-color: var(--gray-lightest);
    border-top: 2px solid var(--gray-lighter);
    padding: * 15px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-darker);
    margin: 0.25em;
}

.icon {
    width: 24px;
}

.copyright {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: var(--gray-darkest);
}
