.footer {
    background-color: var(--gray-lightest);
    border-top: 2px solid var(--gray-lighter);
    padding: * 15px;
}

.content {
    width: 375px;
}

.footer .logo {
    font-size: 1.75rem;
}


.message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-darker);
    padding: 1em *;
}

.icon {
    width: 24px;
}

.copyright {
    text-transform: uppercase;
    font-family: var(--ff-logo);
    font-weight: var(--semi-bold);
    color: var(--gray-darkest);
    text-align: center;
    padding: 0.25em;

    @media (--md-min) {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
